<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="maya, preeya, shenoy, jewelry, design, jewel, jewellery">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Maya Preeya is a jewelry designer that makes future family heirlooms">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/sidebar.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <script type="text/javascript" src="/js/jQuery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/WOW.js"></script>
  <script type="text/javascript">new WOW().init();</script>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <script type="text/javascript" src="/js/scrolling.js"></script>
</head>
