<div class="jumbotron" style="background:#000">
  <div class="container">
    <h1 style="color:#FFF"><span style="font-family:'Allura'; font-size:104px">M</span> {{ site.title }}</h1>
  </div>
</div>

<div id='cssmenu'>
  <ul>  
    <li class=''><a href='/'><span>Home</span></a></li>
    {% for page in site.pages %}
      {% if page.title %}
        <li class=''><a href='{{ page.url | prepend: site.baseurl }}'><span>{{ page.title }}</span></a></li>
      {% endif %}
    {% endfor %}  
  </ul>
</div>