---
layout: default
---
<div class="jumbotron container" id="jewelry"style="background:#FFF">
    <h1>{{ page.title }}</h1>
</div>

<script>
var title = "{{page.title}}";
var GameScore = Parse.Object.extend("jewelry");
var query = new Parse.Query(GameScore);
query.find({
  success: function(results) {
    // Do something with the returned Parse.Object values
    for (var i = 0; i < results.length; i++) {
      var object = results[i];
      var jewel = object.get('tags');
      if(jewel.indexOf('{{ page.title }}'.toLowerCase()) > -1)
      {var script = "</scr" + "ipt>";
      	$("#jewelry").append("<h2>"+object.get('name')+" &middot; $"+object.get('price')+"</h2><br><img src='"+object.get('imageurl')+"'><br><br><h3>"+object.get('description')+"</h3>"+'<script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=mshenoy41@yahoo.commshenoy41@yahoo.com" data-button="buynow" data-name="Agate" data-env="sandbox">'+script)
      	
      }
    }
  },
  error: function(error) {
    alert("Error: " + error.code + " " + error.message);
  }
});
</script>

